
.bodylayout {
    padding: 2px;
    /*border: 2px solid #202C38;*/

}

.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    /*vertical-align: middle;*/
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px 0px 0px 0px;
}

.btn-radius {
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-reset {
    color: #fff;
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.btn-reset:hover {
    color: #fff;
    background-color: #c8c8c8;
    border-color: #F2F2F2;
}

.textmuted {
    color: #999;
}

.textgreen {
    color: #468847;
}

.btn-datagrid {
    display: inline-block;
    color: #ffffff;
    background: #5CB85C;
    padding: 3px 13px;
    border: 1px solid #5CB85C;
    border-radius: 4px;
    cursor: pointer;
}

.btn-datagrid:hover {
    background: #449d44;
}

.required {
    color: red;
}

/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.classtree {
    padding: 12px;
    background-color: #80C269;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}

.badge-success {
    background-color: #99CC00;
}

.btn-submit {
    color: #fff;
    background-color: #32B16C;
    border-color: #32B16C;
}

.btn-submit:hover {
    color: #fff;
    background-color: #32B16C;
    border-color: #32B16C;
}

.input-append, .input-prepend {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.input-border {
    border: 1px solid #5cb85c;
}

.fw {
    font-weight: 500;

}

.combo-panel {
    max-height: 250px;
    overflow: auto;
}

.input-append .btn {
    margin-left: -1px;
}

select option {
    height: 30px;
}

.datagrid-header-row,
.datagrid-row {
    height: 30px;
}

table th, .table td {
    line-height: 32px;
}

.search {
    padding: 5px 0px 5px 5px;
    position: relative;
}

input[type="text"] {
    margin-bottom: 0px !important;
    padding: 6px 6px !important;
    width: 200px;
    border-radius: 5px 0px 0px 5px;
}

.input-border {
    /*border: none;*/
}

.combo .combo-text {
    line-height: 20px;
    height: 20px !important;

}

td span input {
    background: #ffffff;
    color: #888E95;
}

.textbox {
    /*border: none;*/
    border-radius: 5px;
    padding: 1px;
}

.combo-arrow {
    background: url('/public/jquery-easyui-1.5/themes/metro/images/combo_arrow.png') no-repeat center center !important;
}

.combo {
    /*border: none;*/
}

.textbox {
    /*border: none;*/
}

.inputbg {
    background: #ffffff;
    color: #888E95;
}

.input-border {
    border: 1px solid #DDDDDD;
}

.titlelab {
    border-top: 1px solid #31435B;
    border-bottom: 1px solid #101D25;
    height: 27px;
    width: 100%;
    background: #202C38;
    line-height: 27px;
    padding-left: 20px;
}

.titlelab span {
    color: #90969C
}

.btnsearcher {
    background: #01A2D8 url("/public/images/searcher.png") no-repeat center center;
    height: 28px;
    width: 46px;
    position: absolute;
    border: none;
    border-radius: 0px 5px 5px 0px;
    right: 0
}

.datagrid-header-row {
    background: #80A8CC;
    color: #ffffff;
}

.datagrid-row {
    /*background: #E6EAED;*/
}

.datagrid-header .datagrid-cell span {
    font-size: 15px;
    font-weight: bold;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #ffffff;
}

.datagrid-row:hover td {
    background: #CCE198;
}

.datagrid-row-selected {
    background: #CCE198 !important;
}

#toolbar {
    width: auto;
    padding: 0 0 0 12px;
    background: white;
    box-shadow: 0 2px 3px rgba(30, 33, 39, 0.30);
}

.btn-blue {
    color: #fff;
    background-color: #01A2D8;
    margin-bottom: 7px;
    position: relative;
    top: 2px;
}