@charset "utf-8";
/* CSS Document */

/* header */
header {
    background: #e57373;
}

header div {
    background: url(../image/headerTitle.png) no-repeat 14px center;
}

/* 登录框 */
article > p > span.icon {
    color: #e57373;
}

article > em {
    background: #e57373;
}

input#submit {
    color: #e57373;
    border: 2px solid #e57373;
}

input#submit:hover {
    box-shadow: inset 0px 0px 100px 100px #e57373;
}

ul#pic {
    border: 3px solid #e57373;
}

ul#pic li {
    background: url(../image/loginpic.png);
}